<div class="comments mt">
    <h3>Comments</h3>
    <% if (story.comments.length === 0) { %>
        <p>No comments yet.</p>
    <% } %>
    <% for (let i=story.comments.length-1; i>=0; i--) { %>
        <% let comment = story.comments[i]; %>

        <!--Individual comment-->
        <div class="comment callout secondary">
            <div class="avatar">
                <img src="<%= comment.author.image %>" alt="">
            </div>
            <div class="metadata">
                Posted on <%= viewHelpers.formatDate(comment.date); %> by <%= comment.author.name %>
            </div>
            <div class="content">
                <div data-comment-id="<%= comment.id %>">
                    <%- comment.body %>
                </div>
                <% if (user && user.id === comment.author.id ||
                        user && viewHelpers.userOwnsStory(user, story.id)) { %>

                <!--Comments edit / delete buttons-->
                <div class="button-container" data-comment-button-cont="<%= comment.id %>">
                    <% if (user.id === comment.author.id) { %>
                    <button class="button warning" data-comment-edit-btn="<%= comment.id %>">Edit</button>
                    <% } %>
                    <form action="/stories/<%= story.id %>/comments/<%= comment.id %>?_method=DELETE" method="POST" data-comment-delete>
                        <button type="submit" class="button alert">Delete</button>
                    </form>
                </div>

                <!--Comments edit form-->
                <noscript>Please enable JavaScript to edit and delete your comments</noscript>
                <div class="edit-container display-none" data-comment-edit-form-cont="<%= comment.id %>">
                    <form action="/stories/<%= story.id %>/comments/<%= comment.id %>?_method=PUT" method="POST">
                        <textarea name="commentText" data-comment-input="<%= comment.id %>"><%- comment.body %></textarea>
                        <button type="submit" class="button warning" data-comment-submit-btn="<%= comment.id %>">Submit</button>
                        <button type="button" class="button secondary" data-comment-cancel-btn="<%= comment.id %>">Cancel</button>
                    </form>
                </div>
                <% } %>
            </div>
        </div>
    <% } %>

</div>
