<div>
    <label for="title">Title:</label>
    <% if (typeof story !== 'undefined' && story.title) { %>
    <input type="text" id="title" name="title" value="<%= story.title %>" required>
    <% } else { %>
    <input type="text" id="title" name="title" required>
    <% } %>
</div>
<div>
    <label for="privacy">Privacy:</label>
    <select name="privacy" id="privacy" required>
        <% if (typeof story !== 'undefined' && story.privacy) { %>
        <option value="PUBLIC" <%= story.privacy === 'PUBLIC' ? 'selected' : ''%>>Public</option>
        <option value="PRIVATE" <%= story.privacy === 'PRIVATE' ? 'selected' : ''%>>Private</option>
        <option value="UNLISTED" <%= story.privacy === 'UNLISTED' ? 'selected' : ''%>>Unlisted</option>
        <% } else { %>
        <option value="PUBLIC" checked>Public</option>
        <option value="PRIVATE">Private</option>
        <option value="UNLISTED">Unlisted</option>
        <% } %>
    </select>
</div>
<div>
    <label for="allowComments">Allow Comments:
        <% if (typeof story !== 'undefined' && story.allowComments) { %>
        <input type="checkbox" name="allowComments" id="allowComments" value="true" checked>
        <% } else { %>
        <input type="checkbox" name="allowComments" id="allowComments" value="true">
        <% } %>
    </label>
</div>
<div>
    <label for="body">Body:</label>
    <% if (typeof story !== 'undefined' && story.body) { %>
    <textarea name="body" id="body" rows="3"><%- story.body %></textarea>
    <% } else { %>
    <textarea name="body" id="body" rows="3"></textarea>
    <% } %>
</div>
<div>
    <button type="submit" class="button primary">Submit</button>
</div>
