<% for (let story of stories) { %>
<div class="story callout primary">
    <div class="top">
        <h3 class="title"><a href="/stories/<%= story.id %>"><%= story.title %></a></h3>
        <p>By <a href="/users/<%= story.authorId %>"><%= story.authorName %></a></p>
        <div class="body">
            <%- viewHelpers.trimBody(story.body); %>
        </div>
    </div>
    <div class="bottom">
        <a href="/stories/<%= story.id %>" class="button primary">Read More</a>
    </div>
</div>
<% } %>
