<h1 class="title"><%= story.title %></h1>
<p class="metadata">Published on <%= viewHelpers.formatDate(story.published); %> by <a href="/users/<%= story.authorId %>"><%= story.authorName %></a></p>
<div class="body">
    <%- story.body %>
</div>
<% if (user && user.id === story.authorId) { %>
<div class="button-container">
    <a href="/stories/<%= story.id %>/edit" class="button warning">Edit</a>
    <form action="/stories/<%= story.id %>?_method=DELETE" method="POST" data-story-delete>
        <button class="button alert">Delete</button>
    </form>
</div>
<% } %>
