<%- include('../partials/header'); %>

<div class="grid-container">
    <% if (story.privacy === 'PRIVATE') { %>
        <div class="callout alert" id="story-form-cont">
    <% } else if (story.privacy === 'UNLISTED') { %>
        <div class="callout warning" id="story-form-cont">
    <% } else { %>
        <div class="callout primary" id="story-form-cont">
    <% } %>
        <h1>Edit Story</h1>
        <form action="/stories/<%= story.id %>?_method=PUT" method="POST">
            <%- include('../partials/story-form') %>
        </form>
    </div>
</div>

<%- include('../partials/story-form-scripts'); %>

<%- include('../partials/footer'); %>
