<%- include('../partials/header'); %>

<div class="grid-container">
    <div class="story callout primary">
        <h1>Edit Story</h1>
        <form action="/stories/<%= story.id %>?_method=PUT" method="POST">
            <%- include('../partials/story-form') %>
        </form>
    </div>
</div>

<%- include('../partials/story-form-scripts'); %>

<%- include('../partials/footer'); %>
