<div class="grid-container">
  <h1>Stories</h1>
  <div class="stories">
    {{#if stories }}
      {{#each stories}}
          <div class="story callout primary">
              <h3 class="title">{{title}}</h3>
              <p class="metadata">Published on DATE by <a href="/users/{{authorId}}">{{authorName}}</a></p>
              <p class="body">{{trimBody (trimTags body)}}</p>
              <a href="/stories/{{id}}" class="button primary">Read More</a>
          </div>
      {{/each}}
    {{else}}
      <h3>No public stories found</h3>
    {{/if}}
  </div>
</div>