<%- include('../partials/header'); %>

<div class="grid-container">
  <div class="stories">
    <% if (typeof story !== 'undefined') { %>
      <% if (story.privacy === 'PRIVATE') { %>
          <div class="story callout alert">
      <% } else if (story.privacy === 'UNLISTED') { %>
          <div class="story callout warning">
      <% } else { %>
          <div class="story callout primary">
      <% } %>
              <h1 class="title"><%= story.title %></h1>
              <p class="metadata">Published on <%= viewHelpers.formatDate(story.published); %> by <a href="/users/<%= story.authorId %>"><%= story.authorName %></a></p>
              <div class="body">
                  <%- story.body %>
              </div>
                <% if (user && user.id === story.authorId) { %>
                    <div class="button-container">
                        <a href="/stories/<%= story.id %>/edit" class="button warning">Edit</a>
                        <form action="/stories/<%= story.id %>?_method=DELETE" method="POST" data-story-delete>
                            <button class="button alert">Delete</button>
                        </form>
                    </div>
                <% } %>

          </div>
              <!--Comments-->
              <% if (story.allowComments) { %>
                  <div class="comments">
                      <h3>Comments</h3>
                      <% for (let comment of story.comments) { %>
                        <div class="comment">
                            <div class="avatar">
                                <img src="<%= comment.author.image %>" alt="">
                            </div>
                            <div class="metadata">
                                Posted on <%= viewHelpers.formatDate(comment.date); %>
                            </div>
                            <div class="content">
                                <div>
                                    <%= comment.body %>
                                </div>
                                <% if (user && user.id === comment.authorId) { %>
                                    <div class="button-container">
                                        <!--Buttons not completed-->
                                        <a href="/stories/<%= story.id %>/edit" class="button warning">Edit</a>
                                        <form action="/stories/<%= story.id %>?_method=DELETE" method="POST" data-story-delete>
                                            <button class="button alert">Delete</button>
                                        </form>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                      <% } %>

                  </div>
              <% } %>
      <% } else { %>
        <h1 class="title">Story Not Found</h1>
    <% } %>
  </div>
</div>

<%- include('../partials/footer'); %>
