<%- include('../partials/header'); %>

<div class="grid-container">
  <div class="stories">
    <% if (typeof story !== 'undefined') { %>
      <% if (story.privacy === 'PRIVATE') { %>
          <div class="story callout alert">
      <% } else if (story.privacy === 'UNLISTED') { %>
          <div class="story callout warning">
      <% } else { %>
          <div class="story callout primary">
      <% } %>
              <%- include('../partials/story-content') %>
          </div>

          <!--Comments-->
          <% if (story.allowComments) { %>

              <!--Comment form-->
              <%- include('../partials/comment-form') %>

                  <!--COMMENTS LISTING-->
              <%- include('../partials/comments') %>

         <% } else { %>
              <h3>Comments are disabled for this story idea.</h3>
          <% } %>
      <% } else { %>
        <h1 class="title">Story Not Found</h1>
    <% } %>
  </div>
</div>

<%- include('../partials/footer'); %>
