<%- include('../partials/header'); %>

<div class="grid-container">
    <h1>Stories</h1>
    <p>Public stories by <a href="/users/<%= user.id %>"><%= user.name %></a></p>
    <div class="stories index">
        <% if (typeof stories !== 'undefined') { %>
        <%- include('../partials/stories-index'); %>
        <% } else { %>
        <h3>No public stories found</h3>
        <% } %>
    </div>
</div>

<%- include('../partials/footer'); %>
